  
<div class="container">
        <div class="row justify-content-center">
          <div class=" col-lg-7 " >
            <div class="row">
                <div class="col-xl-7 mb-4 mb-xl-0 mt-5 col-lg-4 col-md-6 col-sm-6" style="background-color:#87ceeb;padding-top: 10px; transition: .5s;border-radius:10px;">
                  <div>
                    <p class="align-items-center" style="font-size:40px ">POPULAR GROUPS </p>
                  </div>
                  
                </div>
                <div class="col-xl-5 mb-4 mb-xl-0 mt-5 col-lg-4 col-md-6 col-sm-6" style="padding-top: 28px">
                  <div class="align-items-center">
                    <p style="font-size: 25px; font-family:sans-serif; color:#c5c5c5; font-weight: bold  ">UPCOMING EVENTS</p>


                  </div>


 
                
                  
                </div>
                </div>
              </div>

              </div>
            
          
        
        
        

    <section class="mt-5">
      <div class="container-fluid">
        <div class="row mb-5">
          <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="row align-items-center">
              <div class="col-xl-3 mb-4 mb-xl-0 mt-5 col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <img src="images/cam.jpg" class="card-header img-fluid" style="height: 230px; object-fit: cover; padding: 0px">
                    <div class="card-body">
                        <div>
                        <h6><b>Beach Cleanup with Friends organized by Habitat Friends</b></h6>
                      </div>
                      <div style="padding-bottom: 10px">
                        <i class="fa fa-calendar fa-sm" aria-hidden="true" ></i> &#160<small>13th August</small><br>
                        <i class="fa fa-clock fa-sm"></i>  &#160<small>4:00pm - 6pm</small><br>
                        <i class="fa fa-users fa-sm"></i> <small>12 seats</small>
                      </div>
                      <div class="mt-1">
                        <h5><b>FREE</b></h5>
                      </div>
                    </div>
                </div>
                

                

              </div>
              <div class="col-xl-3   mb-4 mb-xl-0 mt-5 col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <img src="images/girl.jpg" class="card-header img-fluid" style="height: 230px; object-fit: cover; padding: 0px">
                    <div class="card-body">

                      <div>
                        <h6><b>Beach Cleanup with Friends organized by Habitat Friends</b></h6>
                      </div>
                      <div style="padding-bottom: 10px">
                        <i class="fa fa-calendar fa-sm" aria-hidden="true" ></i> &#160<small>13th August</small><br>
                        <i class="fa fa-clock fa-sm"></i>  &#160<small>4:00pm - 6pm</small><br>
                        <i class="fa fa-users fa-sm"></i> <small>12 seats</small>
                      </div>
                      <div class="mt-1">
                        <h5><b>LKR 2,000</b></h5>
                      </div>
                  
                    </div>
                </div>
                
              </div>

              <div class="col-xl-3   mb-4 mb-xl-0 mt-5 col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <img src="images/hill.jpg" class="card-header img-fluid" style="height: 230px; object-fit: cover; padding: 0px">
                    <div class="card-body">
                        <div>
                        <h6><b>Beach Cleanup with Friends organized by Habitat Friends</b></h6>
                      </div>
                      <div style="padding-bottom: 10px">
                        <i class="fa fa-calendar fa-sm" aria-hidden="true" ></i> &#160<small>13th August</small><br>
                        <i class="fa fa-clock fa-sm"></i>  &#160<small>4:00pm - 6pm</small><br>
                      <i class="fa fa-users fa-sm"></i> <small>12 seats</small>
                      </div>
                      <div class="mt-1">
                        <h5><b>FREE</b></h5>
                      </div>
                    </div>
                </div>
                
              </div>

              <div class="col-xl-3   mb-4 mb-xl-0 mt-5 col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <img src="images/eve.jpg" class="card-header img-fluid" style="height: 230px; object-fit: cover;padding: 0px">
                    <div class="card-body">
                        <div>
                        <h6><b>Beach Cleanup with Friends organized by Habitat Friends</b></h6>
                      </div>
                      <div style="padding-bottom: 10px">
                        <i class="fa fa-calendar fa-sm" aria-hidden="true" ></i> &#160<small>13th August</small><br>
                        <i class="fa fa-clock fa-sm"></i>  &#160<small>4:00pm - 6pm</small><br>
                        <i class="fa fa-users fa-sm"></i> <small>12 seats</small>
                      </div>
                      <div class="mt-1">
                        <h5><b>LKR 2,000</b></h5>
                      </div>
                    </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  

    