<nav class="navbar navbar-dark navbar-expand-sm " style="margin-top: 0px; padding-top: 0px">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">

                        <li class="nav-item"><a class="nav-link" href="/events"><span class="fa fa-info fa-lg"></span>Events</a></li>
                        
                </ul>
            </div>
        </div>
    </nav>

<div class="row row-content justify-content-center  mt-5">
        
            <div class="col-12 col-md-9 mx-auto" style="padding: 0px ;margin:0px">
                <form style="padding-left:  16px;padding-right: 16px;padding-bottom: 16px; background-color: #ffffff ; margin: 0px">
                  <fieldset style="margin:0px">
                    <legend> signup</legend>
                  
                    <div class="form-group row">
                         <label for="firstname" class="col-md-2 col-form-label">First Name</label>  
                      <div class="col-md-10">
                          <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First Name">
                          <small class="form-text invalid-feedback">This fiels is required</small>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                         <label for="lastname" class="col-md-2 col-form-label">Last Name</label>  
                      <div class="col-md-10">
                         <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name"> 
                         <small class="form-text invalid-feedback">This fiels is required</small> 
                      </div>
                    </div>

                    <div class="form-group row">
                         <label for="emailid1" class="col-md-2 col-form-label">Email</label>  
                      <div class="col-md-10">
                          <input type="email" name="emailid1" class="form-control" id="emailid1" placeholder="Email">
                          <small class="form-text invalid-feedback">Invalid email</small>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                         <label for="password1" class="col-md-2 col-form-label">Password</label>  
                      <div class="col-md-10">
                         <input type="password" name="password1" class="form-control" id="passwordid1" placeholder="password">
                         <small class="form-text invalid-feedback">Password length is not enough</small>  
                      </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-md-2 col-md-5">
                          <div>
                            <a href="/login" class="btn btn-primary" role="button" id="loginbtn1">login</a>
      
                          
                            
                          
                            <a href="" class="btn btn-info" role="button" id="signupbtn1">signup</a>
                          
                            
                            
                            
                        </div>

                        
                      </div>

                      

                      </fieldset>
                </form>
            </div>
          
       </div>

     </div>