.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  

   }


body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
  background-color: #F7F6FB;
  transition: .5s;
   }

.navbar-dark {
  background-color: #02386E;
  transition: .5s;

   }


fieldset{
  border:2px solid grey;
  border-radius:3px;
  padding: 20px;

}

legend{
  width:auto !important;
}
